/*google font*/
@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:  "SUSE Mono", sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(120deg, #9ad9ff, #ff9aa2);
}

.container{
    max-width: 700px;
    width: 100%;
    background: linear-gradient(135deg, #d8f0ff, #bde3ff);
    box-shadow: inset 0 0 40px rgba(100, 170, 255, 0.2);
    color: #1e3a5f;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 290px;
    background: rgb(201, 125, 125);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box{
    margin-bottom: 15px;
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(221, 215, 215);
    padding-left: 15px;
    font-size: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: black;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: rgb(94, 77, 77);
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background:  linear-gradient(120deg, #9ad9ff, #ff9aa2);
}

form .button input:hover{
    background: linear-gradient(90deg, #a2d9ff, #74b9ff, #d6eaff);
}

@media (max-width:584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: auto;
    }
}